<h2>Ajouter un contact</h2>
<form method="post">
    <div class="form-group">
        <label>Prénom</label>
        <input type="text" class="form-control" placeholder="Prénom" name="prenom">
    </div>
    <div class="form-group">
        <label>Nom</label>
        <input type="text" class="form-control" placeholder="Nom" name="nom">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>